@font-face {
	font-family: 'cobaltaliensuperital';
	src: url('./cobaltaliensuperital.eot');
	src: local('cobaltaliensuperital'), url('./cobaltaliensuperital.woff') format('woff'), url('./cobaltaliensuperital.ttf') format('truetype');
}

* {
	font-family: 'cobaltaliensuperital';
}

html {
	overflow-x: hidden;
}

body{
    background-color:lightgray;
    width: 99%;
    height: 100%;
    position: absolute;
}

header{
    width: 100%;
    height: 150px;
}

section{
    width: auto;
    height: auto;
    border: 5px solid black;
}

#padrao{
    width: 100%;
    height: 100px;
}

h1{
    color: lightseagreen;
    background-color: black;

    width: auto;
    margin-left: 220px;
    margin-top: -5px;
    margin-bottom: 0px;
    padding-left: 10px;

    font-weight: bolder;
    z-index: 1;    
}

#logo{
    position: absolute;
    width: 347px;
    height: 100px;
    z-index: -1;
    border-radius: 0px;
    border-right:300px;
    margin: initial;
    margin-left: -15px;   
}

#slogan{

    display:inline-block;
    position: relative; 
    z-index: 1;

    width:1010px;
    height: 42px;
    margin-top:0px;
    margin-left:332px;
    padding-top: 25px; 

    background-color: lightseagreen;
    color: black;
    opacity: 0.65;

    font-weight: bolder;    
    text-align: center;
    font-family: cobaltaliensuperital;
    font-size: 20px;
}

#logger{
    background
    width: 100%;
    height: 30px;
    background-color: black;
    margin: 0px 0px 0px -10px;
    z-index: -1;
    
    display: block;
    text-align: center;

}

#p{
    position: relative;
    display: inline;
    
    color: darkgray;
    font-family: verdana;
    font-style:bold;
    font-size: 16px;
    
    z-index:1;
}


#iniciar{
    display: block;
    font-family: verdana;
    font-style: bold;
    font-size: 17px;
    position: relative;
    display: inline; 
    margin-top: 2px;
    background-color: aquamarine;
    
}

h2{
    text-align: center;
}

img{
	border-radius: 10px;
	position: absolute;
	margin-left: -100px;
	margin-top: 0px;
}

#bor1{
    display: block;
    margin: 0px 90px 0px 90px;
}

#bor2{
    display: block;
    margin: 0px 90px 0px 90px;
}

#rpm{
	float: right;
}

#intakeAirTemp{
	float: right;
}

.border{
    border-radius: 15px 50px 30px 5px;
    background: #93000099;
    padding: 25px; 
    width: 340px;
    height: 140px;   
    display: inline-block;
    position: relative;
    margin: 30px; 
    text-align: center;
    border: 3px solid black;
}

.numbersValues{
	text-align: end;
	vertical-align: text-top;
	font-size: 20px;
}
